/bin
/obj
/target
/deps
CBuild/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Testing/
Makefile
.ninja_deps
.ninja_log
*/**/obj
*/**/bin
*/**/tmp
*/**/target
**.gch
**.save
**.o
**.obj
**.exe
**.dll
**.a
**.out
**.depend
**.layout
**.ninja
**.tcl
**.cmake
**/**/result.txt

